<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <!-- form card register -->
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0">Edit Employee</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="inputName">Name</label>
            <input class="form-control" type="text" formControlName="name">
            <!-- error -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.name.errors?.required">
              Name is required.
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3">grade</label>
            <input class="form-control" type="text" formControlName="grade">
            <!-- error -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.grade.errors?.required">
              Enter your grade.
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3">group</label>
            <input class="form-control" type="text" formControlName="group">
            <!-- error -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.group.errors?.required">
              Enter your group.
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3">qualification</label>
            <input class="form-control" type="text" formControlName="qualification">
            <!-- error -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.qualification.errors?.required">
              Enter your qualification.
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword3">Materia</label>
            <select class="custom-select form-control" (change)="updateProfile($event.target.value)"
                    formControlName="materia">
              <option value="">Choose...</option>
              <option *ngFor="let employeeProfile of EmployeeProfile" value="{{employeeProfile}}">{{employeeProfile}}
              </option>
            </select>
            <!-- error -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.designation.errors?.required">
              Choose designation.
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="submit">Register</button>
          </div>
        </form>

      </div>
    </div><!-- form  -->
  </div>
</div>
